executor {
    queueSize = 50
    pollInterval = '10 sec'
}


params {
    FASTQC_THREAD = 4
    MULTIQC_THREAD  = 6
    TRIM_THREAD   = 4
    KRAKEN_THREAD = 8
    MEGAHIT_THREAD = 16
    ABRICATE_THREAD = 4
}


dag {
    overwrite = true
}

report {
    overwrite = true
}

process {
    executor = 'slurm'
    memory   = { 32.GB * task.attempt }
    time     = { 1.h  * task.attempt }

    withName: 'FastQC1|FastQC2' {
        container="${projectDir}/singularity/fastqc_0.12.1.sif"
    }
    withName: 'Trim' {
        container="${projectDir}/singularity/trimmomatic_0.39.sif"
    }
    withName: 'Kraken2' {
        container="${projectDir}/singularity/kraken2_2.1.3.sif"
        containerOptions = "--bind ${projectDir}/ref:${projectDir}/ref"
    }
    withName : 'Bracken' {
        container = "${projectDir}/singularity/bracken_2.9.sif"
        containerOptions = "--bind ${projectDir}/ref:${projectDir}/ref"
    }
    withName: 'Megahit' {
        container="${projectDir}/singularity/megahit_1.2.9.sif"
        memory = { 16.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }
    withName: 'Abricate|AbricateSummary' {
        container="${projectDir}/singularity/abricate_1.4.0.sif"
        containerOptions = "--bind ${params.abricate_db_dir}:/usr/local/db"
    }
    withName: 'MultiQC' {
        container="${projectDir}/singularity/multiqc_1.18.sif"
    }
}

docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g) --rm --shm-size=256m'
}

singularity {
    enabled     = true
    singularity.autoMounts  = true
    cacheDir = "${projectDir}/singularity"
}